.caritas-carousel-interna{
    .carousel-caption{
        bottom:10%;
        h1{
            font-family: 'Montserrat';
            font-weight: 600;
        }       
    }
    .carousel-indicators{
        li{
            width:10px;
            height:10px;
            border-radius:100%;
        }
    }    
}

.subtitles{
    font-family: "Montserrat";
    font-weight: 600;
    font-size:1.8rem;
    color:black;    
}

#mision-vision{
    .mv-title{
        position: absolute;
        top: -50px;
        font-weight: 600;
        font-family: "Montserrat";
        color:black;
        &.right{
            right:0px;
        }
    }    
    @media screen and (max-width:769px){
        .media{
            img{
                border-radius: 20px;
                width: 90%;
                margin: 0 auto;
            }
        }
        .media-body{
            order:2;
            padding:20px;
        }
        .mv-title{
            position:relative;
            top:5px;
            padding:17px;
            &.right{
                left:0px;
            }
        }
    }
}

#our-team{ padding-bottom: 2%;
    .circle-img-card{
        border:0;
        img{
            width: 100%;
            clip-path: circle(130px at center);
            @media screen and (min-width:500px) and (max-width:768px){
                clip-path: circle(80px at center);
            }
            @media scren and (max-width:499px){
                clip-path: circle(110px at center);
            }
        }
        .card-body{
            padding-top:0px;
            .card-title{
                color:black;
                font-family: "Montserrat-bold";
                font-size:1rem;
                text-align:center;
            }
            .card-text{
                font-size:.8rem;
                text-align: justify;
                font-family: "Montserrat";
            }
        }
    }
}